<table style="border:1px solid #EAEAEA;border-radius:5px;padding:40px">
  <tbody>
    <tr>
      <td style="padding:0"><b style="color:#000000;font-family:'Poppins','Google Sans',Arial,sans-serif;font-size:14px;line-height:24px;font-weight:600">{{joinCaps roles}} // {{name}}</b></td>
    </tr>
    <tr>
      <td style="padding:0;color:#000000;font-family:'Poppins','Google Sans',Arial,sans-serif;font-size:14px;line-height:24px">{{bio}}</td>
    </tr>
    <tr>
      <td style="padding:0">
        <table style="width:100%;border-collapse:collapse;font-weight:600;margin-top:8px">
          <tbody>
            <tr>
              <td style="padding:0">
                <table style="border-collapse:collapse">
                  <tbody>
                    <tr>
                      {{#if verifications.linkedin}}
                        {{> check verifications.linkedin}}
                      {{else}}
                        {{> cross 'LinkedIn'}}
                      {{/if}}
                      {{#if verifications.instagram}}
                        {{> check verifications.instagram}}
                      {{else}}
                        {{> cross 'Instagram'}}
                      {{/if}}
                      {{#if verifications.facebook}}
                        {{> check verifications.facebook}}
                      {{else}}
                        {{> cross 'Facebook'}}
                      {{/if}}
                    </tr>
                    <tr>
                      {{#if verifications.twitter}}
                        {{> check verifications.twitter}}
                      {{else}}
                        {{> cross 'Twitter'}}
                      {{/if}}
                      {{#if verifications.website}}
                        {{> check verifications.website}}
                      {{else}}
                        {{> cross 'Portfolio'}}
                      {{/if}}
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:0">
                <table style="border-collapse:collapse">
                  <tbody>
                    <tr>
                      {{#if verifications.school}}
                        {{> check verifications.school}}
                      {{else}}
                        {{> cross 'Academic Email Address'}}
                      {{/if}}
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody> 
</table>
